.order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 5rem;
}
.addOns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 5rem;
}

/* Write a media query for small devices that takes everything vertically */
@media (max-width: 768px) {
  .order {
    flex-direction: column;
    align-items: center;
  }
  .addOns {
    flex-direction: column;
    align-items: center;
  }
}
