.container {
  background-color: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  width: 85%;
  margin: auto;
}
/* Write media query that removes margins */
@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
  }
}
